.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #854dff;
  padding: 10px;
  margin: auto;
  margin-top: -70px;
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .logo {
    float: right;
  }
}